<div class="homepage">
  <div class="header">
  <% if(typeof user !== 'undefined'){ %>
    <h1><%= user.username %> (<%= user.points %> points)</h1>
  <% }else{ %>
    <h1>User doesn't exist</h1>
  <% } %>
  </div>
</div>
<div class="user-container">
  <!-- Display platform usernames if available -->
  <% if(typeof user !== 'undefined'){ %>
    <% if(user.pc !== null){ %>
      <p class="username">PC: <%= user.pc %></p>
    <% } %>
    <% if(user.ps4 !== null){ %>
      <p class="username">PS4: <%= user.ps4 %></p>
    <% } %>
    <% if(user.xb1 !== null){ %>
      <p class="username">XB1: <%= user.xb1 %></p>
    <% } %>
  <% } %>
</div>